<ModConfiguration>
  <Id>TechPizza.WebMap</Id>
  <Name>TechPizzas's WebMap</Name>
  <Description>
    This mod creates a map of the world that's viewable through a web browser.
  </Description>
  <ChangeNote>First Release!</ChangeNote>
  <Version>1</Version>
  <IsLocalMod>true</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
</ModConfiguration>