
body {
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	background-color: rgb(32, 32, 32);
}

#mainContainer {
	transition: opacity 0.2s ease;
}

#mainCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#fullscreenButton {
	float: right;
}

#fullscreenButton div {
	background-color: rgba(255, 255, 255, 0.6);
}

.hidden {
	opacity: 0;
}