
body {
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	background-color: rgb(32, 32, 32);
}

#app-container {
	transition: opacity 0.2s ease;
}

canvas[id^=canvas-layer-] {
	position: absolute;
	width: 100%;
	height: 100%;
}

#debug-info-container {
	user-select: none;
	position: absolute;
}

#fps-counter {
	float: left;
	padding: 3px;
	margin: 2px;
	color: rgba(182, 255, 0, 0.75);
	background-color: rgba(10, 30, 0, 0.5);
}

#debug-info {
	display: inline-block;
	padding: 5px;
	margin: 2px;
	color: rgba(255, 255, 255, 0.75);
	background-color: rgba(10, 30, 0, 0.5);
}

#debug-info .visible {
	user-select: text;
}

#debug-info > table {
	text-align: right;
}

/* may be useful for debug information that isn't a table
#debug-info > div > span {
	margin-left: 5px;
}
#debug-info > div > .header {
	margin-left: 0px;
	font-weight: bold;
}
#debug-info > div > .smallLineBreak {
	margin-top: 5px;
}
*/

#fullscreen-button {
	width: 50px;
	height: 50px;
	float: right;
	position: relative;
	background-color: rgba(255, 255, 255, 0.5);
}

.hidden {
	visibility: hidden;
}

/*#region Startup Loading*/

#initial-loader {
	min-width: 250px;
	width: 30%;
	top: 30%;
	left: 50%;
	position: absolute;
	pointer-events: none;
	transform: translate(-50%, -50%);
	user-select: none;
	transition: opacity 0.2s ease;
}

#loading-bar {
	display: inline-block;
	width: 100%;
	height: 3px;
	background: #cccccc;
}

#loading-bar-percentage {
	background: #3063A5;
	height: 3px;
	text-align: center;
	font-size: 18px;
	font-family: Arial;
}

#loading-bar-percentage span {
	display: inline-block;
	position: absolute;
	left: 0;
	margin-top: 10px;
	width: 100%;
	color: #FFF;
}

.sk-cube-grid {
	width: 100px;
	height: 100px;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #999;
	float: left;
	transform: scale(0.25, 0.25);
	animation: sk-cubeGrid-scaleDelay 1.25s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
	animation-delay: 0s;
}

.sk-cube-grid .sk-cube2 {
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube3 {
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube4 {
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube8 {
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube9 {
	animation-delay: 0.4s;
}

@keyframes sk-cubeGrid-scaleDelay {
	0%, 80%, 100% {
		transform: scale(0.25, 0.25);
	}

	10%, 35% {
		transform: scale(1, 1);
	}
}

/*#endregion*/
